.sidebar {
    height: 100vh;
    padding-top: 20px;
}

.sidebar h3 {
    font-size: 1.5rem;
    /* font-weight: bold; */
}

.nav-link.active {
    /* font-weight: bold; */
    background-color: #007bff;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 80px;
    height: 80px;
}

.light-text {
    color: #b3b3b3; /* Light gray */
}
