<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
      <div
        class="sidebar-sticky d-flex flex-column h-100 justify-content-between"
      >
        <div>
          <h3 class="text-white mt-3 mb-4" style="text-align: center">
            WorkIt
          </h3>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Available Units</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Invoices</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Social Media</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Integrations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Documentation</a>
            </li>
          </ul>
        </div>
        <!-- Settings and Help Center at the bottom -->
        <div>
          <ul class="nav flex-column mb-3">
            <li class="nav-item">
              <a class="nav-link active text-white" href="#">Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Help Center</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Main Content -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pt-2">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3"
      >
        <span style="display: flex">
          <h1 class="h2">Team</h1>
          <i
            class="bi bi-caret-down-fill"
            style="padding: 10px 0px 0px 5px"
          ></i>
        </span>
        <div class="btn-toolbar mb-2 mb-md-0 ">
          <button class="btn btn-primary" style="border-radius: 100px;margin: 9px;">
            New User
          </button>
          <i
            class="bi bi-bell-fill"
            style="
              border: 1px solid #d1caca;
              font-size: 13px;
              border-radius: 100px;
              margin: 9px 2px;
              padding: 11px;
              padding-top: 8px;
            "
          ></i>
          <i
            class="bi bi-search"
            style="
              border: 1px solid #d1caca;
              font-size: 11px;
              border-radius: 130px;
              padding: 11px;
              padding-top: 10px;
              margin: 9px 9px;
            "
          ></i>
          <div style="margin: -5px 10px 1px 0px;">
            <img
                src="./assets/th.jpg"
                class="card-img-top rounded-circle mx-auto mt-3"
                alt="User Image"
                style="border: 1px solid rgb(170, 167, 167);height: 40px;width: 40px; "
              />
          </div>
        </div>
      </div>

      <!-- Filter and Sort Options -->
      <div class="row mb-4">
        <div
          class=""
          style="
            display: flex;
            justify-content: space-between;
            align-items: center;
          "
        >
          <div style="display: flex">
            <input
              type="text"
              class="form-control"
              style="
                width: 27%;
                border-radius: 50px;
                height: 28px;
                font-size: 14px;
              "
              placeholder="Filter users"
            />
            <input
              type="text"
              class="form-control light-text"
              style="
                width: 55%;
                border-radius: 50px;
                height: 28px;
                font-size: 14px;
                margin-left: 3px;
              "
              placeholder="Try'Miami beachhouse'"
            />
            <i
              class="bi bi-search"
              style="margin-left: -25px; font-size: 13px; padding-top: 3px"
            ></i>
          </div>
          <div class="text-end" style="display: flex">
            <select
              class="form-select"
              style="
                width: 100%;
                /* border-radius: 25%; */
                height: 33px;
                font-size: 11px;
              "
            >
              <option>Sort by date</option>
              <option>Sort by name</option>
            </select>
            <i
              class="bi bi-three-dots-vertical"
              style="
                border: 1px solid #d3c3c3;
                padding: 3px;
                border-radius: 100px;
                margin-left:6px ;
              "
            ></i>
          </div>
        </div>
      </div>

      <div class="container">
        <div
          class="row"
          style="
            max-height: 500px;
            overflow-y: auto;
            overflow-x: hidden;
            border: 1px solid #ccc;
            padding: 10px;
          "
        >
          <div
            class="col-12 col-sm-6 col-md-4 col-lg-3"
            *ngFor="let user of usersList"
          >
            <div class="card text-center" style="margin-bottom: 10px">
              <img
                [src]="user.imagUrl"
                class="card-img-top rounded-circle mx-auto mt-3"
                alt="User Image"
                style="border: 1px solid black"
              />
              <div class="card-body">
                <h5 class="card-title">{{ user.name }}</h5>
                <p class="card-text light-text">{{ user.designation }}</p>
                <div class="d-flex justify-content-between">
                  <div>
                    <div class="light-text">Projects</div>
                    <label>{{ user.projects }}</label>
                  </div>
                  <div>
                    <div class="light-text">Tasks</div>
                    <label>{{ user.tasks }}</label>
                  </div>
                  <div>
                    <div class="light-text">Insights</div>
                    <label>{{ user.insight }}</label>
                  </div>
                </div>
                <button
                  class="btn btn-sm btn-outline-primary"
                  style="margin: 28px 0px 10px 0px; border-radius: 50px"
                >
                  View profile
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
